
<html lang="en">
<head>
               <meta charset="UTF-8">
               <meta http-equiv="X-UA-Compatible" content="IE=edge">
               <meta name="viewport" content="width=device-width, initial-scale=1.0">
               <title>Document</title>
               <style>
                   body{
                       background-color: yellow;
                       color: rebeccapurple;
                    }  
                    span{
                      color: blue;        
                    }        
               </style>
</head>
<body>
         <h1>welcome you!!!<span>{{wishmsg}}</span></h1> 
         <h1>Today date and time is:<span>{{dt}}</span></h1> 
         <h1>How Today day is??:<span>{{ast_msg}}</span></h1> 
         <h1>Very Soon you are going get your dream company:<span>{{cname}}</span></h1>
      
</body>
</html>